In [1]:
import os
os.chdir('../..')
os.getcwd()

'D:\\StockMaster'

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt


from sklearn.preprocessing import MinMaxScaler

In [4]:
import pandas_datareader as pdr
df= pdr.get_data_yahoo('AAPL', '2000-01-01')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1999-12-31,3.674107,3.553571,3.604911,3.671875,40952800.0,3.178732
2000-01-03,4.017857,3.631696,3.745536,3.997768,133949200.0,3.460857
2000-01-04,3.950893,3.613839,3.866071,3.660714,128094400.0,3.169071
2000-01-05,3.948661,3.678571,3.705357,3.714286,194580400.0,3.215448
2000-01-06,3.821429,3.392857,3.790179,3.392857,191993200.0,2.937188
...,...,...,...,...,...,...
2020-07-06,375.779999,369.869995,370.000000,373.850006,29663900.0,373.850006
2020-07-07,378.619995,372.230011,375.410004,372.690002,28106100.0,372.690002
2020-07-08,381.500000,376.359985,376.720001,381.369995,29273000.0,381.369995
2020-07-09,385.269989,378.690002,385.049988,383.010010,31410700.0,383.010010
2020-07-10,383.920013,378.820007,381.339996,383.679993,22534100.0,383.679993

In [5]:
def nplog(dataframe):
    
    temp = np.log(dataframe)
    
    return temp

In [6]:
log_df = nplog(df)
log_df

                High       Low      Open     Close     Volume  Adj Close
Date
1999-12-31  1.301310  1.267953  1.282297  1.300702  17.527931   1.156482
2000-01-03  1.390749  1.289700  1.320565  1.385736  18.712971   1.241516
2000-01-04  1.373942  1.284771  1.352239  1.297658  18.668278   1.153439
2000-01-05  1.373376  1.302524  1.309780  1.312186  19.086356   1.167967
2000-01-06  1.340624  1.221672  1.332413  1.221672  19.072971   1.077453
...              ...       ...       ...       ...        ...        ...
2020-07-06  5.929004  5.913152  5.913503  5.923855  17.205441   5.923855
2020-07-07  5.936533  5.919512  5.928019  5.920747  17.151497   5.920747
2020-07-08  5.944111  5.930546  5.931502  5.943770  17.192176   5.943770
2020-07-09  5.953944  5.936718  5.953373  5.948061  17.262659   5.948061
2020-07-10  5.950434  5.937061  5.943691  5.949809  16.930540   5.949809

[5164 rows x 6 columns]

In [31]:
def get_indicators(dataframe, *indicators):
    
    from Indicator import get_Bolinger_Band
    from Indicator import get_DMI
    from Indicator import get_MACD
    from Indicator import get_RSI

    BAND = get_Bolinger_Band.fnBolingerBand
    DMI = get_DMI.cal_dmi
    MACD = get_MACD.fnMACD
    RSI = get_RSI.fnRSI
    
    for indicator in indicators:
        
        if indicator == 'DMI':
            DMI(dataframe)
        elif indicator == 'MACD':
            MACD(dataframe)
        elif indicator == 'RSI':
            RSI(dataframe)
        elif indicator == 'BAND':
            BAND(dataframe)
    
    dataframe.dropna(inplace=True)
        
    return dataframe

In [32]:
get_indicators(df, 'DMI', 'RSI', 'MACD', 'BAND')

,High,Low,Open,Close,Volume,Adj Close,PDI,MDI,ADX,RSI_MACD,EMAFast,EMASlow,MACD,MACDSignal,MACDDiff,20d_ma,Bol_upper,Bol_lower
Date,,,,,,,,,,,,,,,,,,
2000-02-17,4.125000,4.040179,4.113839,4.102679,72374400.0,3.551679,0.246657,0.207359,0.157350,0.558880,3.981399,3.848558,0.132841,0.109553,0.023288,3.916741,4.322585,3.510898
2000-02-18,4.120536,3.959821,4.093750,3.973214,58360400.0,3.439602,0.219717,0.239322,0.141945,0.567998,4.018415,3.881611,0.136805,0.112774,0.024031,3.916630,4.322406,3.510853
2000-02-22,4.176339,3.810268,3.933036,4.064732,105574000.0,3.518828,0.170714,0.277062,0.154772,0.587448,4.049665,3.905048,0.144617,0.117526,0.027091,3.930134,4.336793,3.523475
2000-02-23,4.250000,3.964286,4.044085,4.151786,118274800.0,3.594190,0.185282,0.230721,0.148664,0.611351,4.074219,3.926769,0.147450,0.120590,0.026860,3.937277,4.354641,3.519912
2000-02-24,4.254464,3.991071,4.189732,4.114398,94108000.0,3.561823,0.159857,0.195872,0.142310,0.618635,4.077614,3.942243,0.135370,0.123577,0.011793,3.946233,4.371038,3.521429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-06,375.779999,369.869995,370.000000,373.850006,29663900.0,373.850006,0.314446,0.121014,0.320764,0.645961,361.169164,347.221150,13.948014,14.845946,-0.897932,354.283995,376.504705,332.063285
2020-07-07,378.619995,372.230011,375.410004,372.690002,28106100.0,372.690002,0.327453,0.108906,0.344774,0.654715,362.915830,349.326920,13.588910,14.660583,-1.071673,356.245496,377.636846,334.854145
2020-07-08,381.500000,376.359985,376.720001,381.369995,29273000.0,381.369995,0.327377,0.093952,0.372674,0.672667,365.553329,351.616150,13.937180,14.460356,-0.523176,358.114496,381.441606,334.787386
2020-07-09,385.269989,378.690002,385.049988,383.010010,31410700.0,383.010010,0.353362,0.084011,0.405096,0.696160,367.564997,353.911150,13.653847,14.256531,-0.602684,359.622997,385.297832,333.948161
2020-07-10,383.920013,378.820007,381.339996,383.679993,22534100.0,383.679993,0.322814,0.076748,0.433195,0.701309,368.994164,356.163458,12.830705,14.100940,-1.270235,362.011996,387.281068,336.742925

In [51]:
def make_sc_col_df(train_scdf):
    for i in train_scdf.columns:
        globals()['scaler_{}'.format(i)] = MinMaxScaler()
        print("df_{}".format(i))
        globals()["df_{}".format(i)] = train_scdf[[i]]
        globals()["df_{}".format(i)] = globals()['scaler_{}'.format(i)].fit_transform(globals()["df_{}".format(i)])
        globals()["df_{}".format(i)] = pd.DataFrame(globals()["df_{}".format(i)])
        globals()["df_{}".format(i)].index = train_scdf.index
        globals()["df_{}".format(i)].columns = [i]

    return globals()["df_{}".format(i)]

In [52]:
make_sc_col_df(log_df)

df_High
df_Low
df_Open
df_Close
df_Volume
df_Adj Close

            Adj Close
Date
1999-12-31   0.221730
2000-01-03   0.235536
2000-01-04   0.221235
2000-01-05   0.223594
2000-01-06   0.208898
...               ...
2020-07-06   0.995786
2020-07-07   0.995281
2020-07-08   0.999020
2020-07-09   0.999716
2020-07-10   1.000000

[5164 rows x 1 columns]

In [73]:
def shift_df(*dataframes, start=1, end=3):  
    shift_num = end
    for dataframe in dataframes:
        for s in range(start, end):
            dataframe['shift_{}'.format(s)] = dataframe[dataframe.columns[0]].shift(s)
        dataframe.dropna(inplace=True)
    return dataframe

In [74]:
shift_df(df_High, df_Low)

                 Low   shift_1   shift_2
Date
2000-01-12  0.202856  0.210350  0.217956
2000-01-13  0.213973  0.202856  0.210350
2000-01-14  0.225856  0.213973  0.202856
2000-01-18  0.227619  0.225856  0.213973
2000-01-19  0.232397  0.227619  0.225856
...              ...       ...       ...
2020-07-06  0.996037  0.993221  0.993344
2020-07-07  0.997091  0.996037  0.993221
2020-07-08  0.998920  0.997091  0.996037
2020-07-09  0.999943  0.998920  0.997091
2020-07-10  1.000000  0.999943  0.998920

[5156 rows x 3 columns]

In [68]:
def df_concat(*dataframes):
    all_Df =  pd.concat([*dataframes], axis=1)
    return all_Df

In [69]:
all_df = df_concat(df_High, df_Low)
all_df

                High   shift_1   shift_2       Low   shift_1   shift_2
Date
2000-01-10  0.225294  0.223249  0.232845  0.217956  0.219263  0.218393
2000-01-11  0.220551  0.225294  0.223249  0.210350  0.217956  0.219263
2000-01-12  0.213937  0.220551  0.225294  0.202856  0.210350  0.217956
2000-01-13  0.219502  0.213937  0.220551  0.213973  0.202856  0.210350
2000-01-14  0.225294  0.219502  0.213937  0.225856  0.213973  0.202856
...              ...       ...       ...       ...       ...       ...
2020-07-06  0.995853  0.993486  0.992084  0.996037  0.993221  0.993344
2020-07-07  0.997105  0.995853  0.993486  0.997091  0.996037  0.993221
2020-07-08  0.998365  0.997105  0.995853  0.998920  0.997091  0.996037
2020-07-09  1.000000  0.998365  0.997105  0.999943  0.998920  0.997091
2020-07-10  0.999416  1.000000  0.998365  1.000000  0.999943  0.998920

[5158 rows x 6 columns]

In [70]:
def drop_ori_cols(all_df):
    col_list = []
    for i in all_df.columns:
        if 'shift' in i:
            pass
        else:
            col_list.append(i)
    all_df.drop(col_list, axis=1, inplace=True)
    
    return all_df

In [71]:
drop_ori_cols(all_df)

             shift_1   shift_2   shift_1   shift_2
Date
2000-01-10  0.223249  0.232845  0.219263  0.218393
2000-01-11  0.225294  0.223249  0.217956  0.219263
2000-01-12  0.220551  0.225294  0.210350  0.217956
2000-01-13  0.213937  0.220551  0.202856  0.210350
2000-01-14  0.219502  0.213937  0.213973  0.202856
...              ...       ...       ...       ...
2020-07-06  0.993486  0.992084  0.993221  0.993344
2020-07-07  0.995853  0.993486  0.996037  0.993221
2020-07-08  0.997105  0.995853  0.997091  0.996037
2020-07-09  0.998365  0.997105  0.998920  0.997091
2020-07-10  1.000000  0.998365  0.999943  0.998920

[5158 rows x 4 columns]

In [78]:
def train_test_split(dataframe, num):
    
    train = dataframe[:-num]
    test = dataframe[-num:]    

    return train, test

2.0

In [80]:
shift_num = 2
x_train = np.array(all_df).reshape(len(all_df), int(len(all_df.columns)/shift_num), shift_num)

y_train = df['Close']