In [8]:
import FundamentalAnalysis as fa
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

ticker = "AAPL"
api_key = "d2b83a9cbe59bd13f8c7615015e41b0e"

In [9]:
# Collect general company information
profile = fa.profile(ticker, api_key)

In [10]:
profile

                                                                   0
symbol                                                          AAPL
price                                                         425.04
beta                                                          1.2285
volAvg                                                      35035392
mktCap                                                 1842263620000
lastDiv                                                         3.13
range                                                  192.58-425.66
changes                                                        40.28
companyName                                               Apple Inc.
exchange                                        Nasdaq Global Select
exchangeShortName                                             NASDAQ
industry                                        Consumer Electronics
website                                         http://www.apple.com
description        Apple Inc. designs, manufactures, and markets ...
ceo                                              Mr. Timothy D. Cook
sector                                                    Technology
country                                                United States
fullTimeEmployees                                             137000
phone                                                   408-996-1010
address                                           One Apple Park Way
city                                              One Apple Park Way
state                                                             CA
zip                                                            95014
dcfDiff                                                        89.92
dcf                                                           297.11
image              https://financialmodelingprep.com/image-stock/...

In [11]:
# Collect recent company quotes
quotes = fa.quote(ticker, api_key)
quotes

                                                 0
symbol                                        AAPL
name                                    Apple Inc.
price                                       425.04
changesPercentage                            10.47
change                                       40.28
dayLow                                      403.36
dayHigh                                     425.66
yearHigh                                    425.66
yearLow                                     192.58
marketCap                              1.84226e+12
priceAvg50                                  373.19
priceAvg200                                314.687
volume                                    93573867
avgVolume                                 35035392
exchange                                    NASDAQ
open                                       411.535
previousClose                               384.76
eps                                         13.185
pe                                         32.2366
earningsAnnouncement  2020-07-30T20:00:00.000+0000
sharesOutstanding                       4334329996
timestamp                               1596381530

In [12]:
# Collect market cap and enterprise value
entreprise_value = fa.enterprise(ticker, api_key)
entreprise_value

,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001
symbol,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
stockPrice,249.05,212.24,166.72,117.65,115.28,105.11,75.7,86.29,57.97,44.12,28.93,13.16,26.44,11.49,8.11,3.4,1.61,1.12,1.26
numberOfShares,4617834000,4955377000,5217242000,5470820000,5753421000,6085572000,925331000,934818000,924258000,909461000,893016000,881592000,864595000,808439000,808439000,371590000,360631000,355022000,345613000
marketCapitalization,1150071557700,1051729214480,869818586240,643641973000,663254372880,639654472920,70047556700,80665445220,53579236260,40125419320,25834952880,11601750720,22859891800,9288964110,6556440290,1263406000,580615910,3.97625e+08,435472380
minusCashAndCashEquivalents,48844000000,25913000000,20289000000,20484000000,21120000000,13844000000,14259000000,10746000000,9815000000,11261000000,5263000000,11875000000,9352000000,6392000000,3491000000,2969000000,3396000000,2252000000,2310000000
addTotalDebt,102067000000,102519000000,12992000000,7000000000,5000000000,35295000000,16960000000,0,0,0,0,0,0,0,0,0,0,316000000,317000000
enterpriseValue,1203294557700,1128335214480,862521586240,630157973000,647134372880,661105472920,72748556700,69919445220,43764236260,28864419320,20571952880,-273249280,13507891800,2896964110,3065440290,-1705594000,-2815384090,-1538375360,-1557527620

In [15]:
entreprise_value.T[::-1]

,symbol,stockPrice,numberOfShares,marketCapitalization,minusCashAndCashEquivalents,addTotalDebt,enterpriseValue
2001,AAPL,1.26,345613000,435472380,2310000000,317000000,-1557527620
2002,AAPL,1.12,355022000,3.97625e+08,2252000000,316000000,-1538375360
2003,AAPL,1.61,360631000,580615910,3396000000,0,-2815384090
2004,AAPL,3.4,371590000,1263406000,2969000000,0,-1705594000
2005,AAPL,8.11,808439000,6556440290,3491000000,0,3065440290
2006,AAPL,11.49,808439000,9288964110,6392000000,0,2896964110
2007,AAPL,26.44,864595000,22859891800,9352000000,0,13507891800
2008,AAPL,13.16,881592000,11601750720,11875000000,0,-273249280
2009,AAPL,28.93,893016000,25834952880,5263000000,0,20571952880
2010,AAPL,44.12,909461000,40125419320,11261000000,0,28864419320
2011,AAPL,57.97,924258000,53579236260,9815000000,0,43764236260
2012,AAPL,86.29,934818000,80665445220,10746000000,0,69919445220
2013,AAPL,75.7,925331000,70047556700,14259000000,16960000000,72748556700
2014,AAPL,105.11,6085572000,639654472920,13844000000,35295000000,661105472920
2015,AAPL,115.28,5753421000,663254372880,21120000000,5000000000,647134372880
2016,AAPL,117.65,5470820000,643641973000,20484000000,7000000000,630157973000
2017,AAPL,166.72,5217242000,869818586240,20289000000,12992000000,862521586240
2018,AAPL,212.24,4955377000,1051729214480,25913000000,102519000000,1128335214480
2019,AAPL,249.05,4617834000,1150071557700,48844000000,102067000000,1203294557700